node_modules/
dist/
coverage/
.env
.env.*
!.env.example
*.apk
*.aab
*.jks
*.keystore
android/.gradle/
android/app/build/
app/.android/
app/.gradle-build-cache*/
app/android/.gradle-cache*/
.gradle-cache*/
.idea/

keystore.properties
